<section>
  <p>
    Welcome, I am Pavel.
  </p>
  <br />
  <p>
    I am an <strong>applied computer science student</strong> who is interested in computers and a myriad of other things.
  </p>
  <br />
  <p>
    I particularly enjoy learning about operating systems, especially Linux. 
    I love building text-based software and creating low-level components. 
    I believe in advocating for software minimalism and freedom. 
  </p>
  <br />
  <p>
    Besides coding and operating systems, I like to read
    , drink yerba mate, smoke a pipe with friends, debate 
    about anything, or learn new things.
  </p>
</section>
